/* CSS */
.simple-form {
  max-width: 60%;       /* Largeur maximale du formulaire */
  margin: 40px auto;      /* Centre le formulaire */
  padding: 20px;
  border: 1px solid #ccc; /* Bordure légère */
  border-radius: 8px;     /* Coins arrondis */
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 15px;              /* Espacement entre les éléments */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.simple-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.simple-form input,
.simple-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box; /* Pour inclure le padding dans la largeur */
}

.simple-form textarea {
  resize: vertical; /* Permet de redimensionner verticalement */
  min-height: 80px;
}

.simple-form button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #2f93bb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.simple-form button:hover {
  background-color: #61badd;
}


.error-message {
  color: #d32f2f;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}